@page "/"

<PageTitle>Clay Gomera - Portfolio</PageTitle>

<section class="resume-section" id="about">
    <span class="resume-section-title">
        About Me
    </span>
    <div>
        <p>
            I am a dedicated and driven software developer with a strong passion
            for systems and low-level programming.  My experience spans across
            managing and deploying Linux systems, where I have honed my skills
            in optimizing both processes and environments to achieve maximum
            efficiency. My obsession with fine-tuning these elements has enabled
            me to deliver robust and reliable solutions in various technical
            environments. I am particularly enthusiastic about database modeling
            and management, continually seeking to deepen my understanding and
            application of these critical aspects of software development.
        </p>
        <p>
            Currently, I am pursuing a degree in Software Engineering at <a
            href="https://intec.edu.do">INTEC</a>, where I am expanding my
            technical knowledge and refining my problem-solving skills. My
            academic journey complements my hands-on experience, allowing me to
            approach challenges with a well-rounded perspective. I am committed
            to advancing my expertise in software development, with a focus on
            creating systems that are not only functional but also optimized for
            performance and scalability.
        </p>

        <div class="social-icons row justify-content-md-left">
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://www.linkedin.com/in/clay-gomera/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://github.com/d4r1us-drk">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</section>

<hr class=""/>

<section class="resume-section" id="education">
    <span class="resume-section-title">
        Education
    </span>
    <div class="container">
        <div class="row justify-content-center">
            <!-- Example Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="images/intec.jpg" class="card-img-top" alt="INTEC">
                    <div class="card-body">
                        <h5 class="card-title-education">INTEC</h5>
                        <p class="card-text-education">
                            <strong>2022-Present</strong>
                            <br>
                            BE Software Engineering
                        </p>
                    </div>
                </div>
            </div>

            <!-- Example Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="images/centu.png" class="card-img-top" alt="CENTU">
                    <div class="card-body">
                        <h5 class="card-title-education">CENTU</h5>
                        <p class="card-text-education">
                            <strong>2016</strong>
                            <br>
                            Introduction to Programming in C#
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>